
.page_show{
    -display: block;
}
.page_hide{
    -display: none;
}

.carta{
    font-size: 9px;
    padding: 10px;
    margin: 5px;
    color: rgb(255, 255, 255);   
    display: inline-block;
    background-color: rgb(215, 14, 14);

    -webkit-box-shadow: 1px 1px 5px 1px black;
    -moz-box-shadow: 1px 1px 5px 1px black;
    box-shadow: 1px 1px 5px 1px black;
}
.carta_content{
    padding: 3px;
    background-color: #242424;
}
.container_accion{
    text-align: right;
}
.data_pagado{
    color: #06e165;
}
.data_restante{
    color: #06e165;
}
.data_consumo{
    color: #ff0000;
}
.data_status{
    text-align: center;
}

.dispositivo_alias{
    text-align: left;
    color: #ffffff;
    font-size: 10px;
}
.macip{
    font-size: 9px;
}
.btn_kill{
   
}
.vip{
    -background: rgb(225,180,64);
    -background: radial-gradient(circle, rgba(225,180,64,1) 26%, rgba(106,72,22,1) 90%);
    background-color:#0E6FCF;
}
.conectado{
    -background: rgb(0,222,106);
    -background: radial-gradient(circle, rgba(0,222,106,1) 26%, rgba(22,106,47,1) 90%);
    background-color: #018e3e;
}
.desconectado{
    -background: rgb(219,219,219);
    -background: radial-gradient(circle, rgba(219,219,219,1) 26%, rgba(75,75,75,1) 90%);
    background-color: gray;
}
.libre{
    -background: rgb(255,0,0);
    -background: radial-gradient(circle, rgba(255,0,0,1) 15%, rgba(69,0,0,1) 95%);
    background-color: orange;
}
.congelado{
    background: rgb(112,160,246);
    background: linear-gradient(126deg, rgba(112,160,246,1) 13%, rgba(163,76,255,1) 50%, rgba(252,97,241,1) 86%);
}




.top_nav{
    position: absolute;
    background-color: rgb(30, 30, 30);
    -color: white;
    text-align: center;
    padding-top: 20px;
    height: 10%;
    width: 100%;


}

.panel_top{
    position: absolute;
    background-color: rgb(30, 30, 30);
    border-top: rgb(109, 48, 158) solid 1px;
    top: 0;
    height: 10%;
    width: 100%;
    margin: 0;
    text-align: center;
   
}
.panel_centro{
    color: white;
    background-color: rgb(20, 20, 20);
    position: absolute;
    border-left: rgb(109, 48, 158) solid 1px;
    border-top: rgb(109, 48, 158) solid 1px;
    top: 10%;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}
.panel_link_tab{
    display: inline-block;
    color: white;
    padding: 10px;
    background: rgb(32, 32, 32);
    cursor: pointer;
}
.panel_link_tab:hover{
    background-color:#0E6FCF;
}
